* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    background-color: #dbe6ff;
    font-weight: 300;
    color: #2f2d2f;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
